VITE_SUPABASE_URL=hhttps://dplxuvsmwftthgjkeojq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRwbHh1dnNtd2Z0dGhnamtlb2pxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5MjM4NzUsImV4cCI6MjA5MTQ5OTg3NX0.zVmUk_VewYOEbjVEs5Dly3jkAPgCPwKPdhZQim3U0_s
